$banner-width: 300px;
$banner-height: 250px;

*, *:before, *:after {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

img, div { position: absolute; }

img { border: 0 none transparent; }

#banner {
  height: $banner-height;
  width: $banner-width;
  cursor: pointer;
  left: 50%;
  top: 50%;
  margin-left: -$banner-width / 2;
  margin-top: -$banner-height / 2;
  overflow: hidden;
  position: absolute;

  .border {
    border: 1px solid #ccc;
    display: block;
    height: $banner-height - 2;
    width: $banner-width - 2;
    left: 0;
    top: 0;
    pointer-events: none;
    position: absolute;
    z-index: 999;
  }
}
